body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b1718;
}

.display {
  width: 100%;
  height: 35vh;
}

.painel {
  background-color: #231f20;
  width: 100%;
  height: 65vh;
}

.button {
  width: 25%;
  height: 13vh;
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 18pt;
}

.columnFooter, .footerButtons {
  display: flex;
}

.footerButtons {
  flex-direction: column;
}

.buttonfooter {
  width: 33%;
}

.buttonBigger {
  height: 26vh;
}

.blue {
  color: #109ae5;
  font-weight: 700;
}

.backgroundBlue {
  background-color: #109ae5;
  font-weight: 800;
}

.footerButtons {
  width: 75%;
}

.footerCalc {
  display: flex;
}

.column {
  display: flex;
}